* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-image: url('../img/bg-mesa-madeira.jpg'); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-ultilidades {
    height: 80vh;
    widows: 80vw;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "titulo titulo btn-bg"
        "to-do relogio bloco-notas"
        "to-do calculadora bloco-notas";
}

/* Modo escuro */
body.dark-mode {
    background: linear-gradient(120deg, #000000d8, #180303da);
    color: #fff;
}

/* Modo claro */
body.light-mode {
    background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
    color: #333;
}