
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    /* background-image: url('../img/bg-mesa-madeira.jpg'); */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-ultilidades {
    display: flex;  
    gap: 15px;
}

/* Modo escuro */
body.dark-mode {
    background: linear-gradient(120deg, #000000d8,#180303da);
    color: #fff;
}

/* Modo claro */
body.light-mode {
    background: linear-gradient(120deg, #ffe53bd8,#ff2525da);
    color: #333;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}


.relogio span.tempo {
    font-size: 10px;
}
